framework: auto-detect
strategy: max

source https://nuget.org/api/v2

nuget FSharp.Core       >= 5.0.0
nuget Newtonsoft.Json   >= 12.0.3
nuget Argu

nuget System.Runtime.InteropServices.RuntimeInformation >= 4.3.0

group Formatting
source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting

nuget FSharp.Formatting prerelease
nuget FSharp.Formatting.CommandTool prerelease

group DotnetInteractive
# until .NET Interactive is out of beta most packages needed to write extension
# dont exist in the public repositories - consumers of the nuget shouldn't need this
source https://api.nuget.org/v3/index.json
source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json
source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json
source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet3.1/nuget/v3/index.json
source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json
source https://pkgs.dev.azure.com/dnceng/public/_packaging/MachineLearning/nuget/v3/index.json
source https://www.powershellgallery.com/api/v2

nuget Microsoft.DotNet.Interactive 1.0.0-beta.20574.9
nuget Microsoft.DotNet.Interactive.Formatting 1.0.0-beta.20574.9
nuget Microsoft.DotNet.Interactive.FSharp 1.0.0-beta.20574.9
