framework: netstandard2.0, net461
source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget Newtonsoft.Json
nuget HtmlAgilityPack
nuget Microsoft.Xaml


group Build
    framework: netstandard2.0, net461
    source https://nuget.org/api/v2

    nuget FAKE
    nuget FSharp.Formatting

    nuget xunit.runner.console

    github fsharp/FAKE modules/Octokit/Octokit.fsx
    
    nuget FSharp.Plotly
    
group Test
    framework: netcoreapp2.0, net461
    source https://nuget.org/api/v2

    nuget xunit
    nuget Microsoft.NET.Test.Sdk
    nuget xunit.runner.visualstudio