table.pre {
	border: hidden;
	overflow-x: auto;
    white-space: nowrap;
	display:block;
}

table.pre::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #212d30;
}

table.pre::-webkit-scrollbar
{
	height: 8px;
	background-color: #212d30;
	border-radius:5px
}

table.pre::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #80b0b0;
}

pre {
    border: hidden;
    overflow-x: auto;
}

pre::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #212d30;
}

pre::-webkit-scrollbar {
    height: 8px;
    background-color: #212d30;
    border-radius: 5px
}

pre::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #80b0b0;
}
#main
{
	text-align:justify;
}

#main h2
{
	margin: 10px 0px 10px 0px;
}

#responsiveTable 
{
	overflow-x:auto;
}

#responsiveTable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #212d30;
}

#responsiveTable::-webkit-scrollbar
{
	height: 8px;
	background-color: #212d30;
	border-radius:5px
}

#responsiveTable::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #80b0b0;
}

#responsiveTable p 
{
	margin: 0px 0px 0px	0px;
}

#responsiveTable table 
{
	border: 2px solid #2E75B6;
	border-radius:50px;
}

#responsiveTable  tr:nth-child(even) 
{
	background-color: #BDD7EE;
}

#responsiveTable tr
{
	border: 1px solid #2E75B6;
}

#responsiveTable th
{
	background-color:#2E75B6;
	color:white;
}

#responsiveTable  th, td 
{
	text-align: left;
	padding: 0px 10px 0px 10px;
}

.fileExamples
{
	overflow-x: auto;
    white-space: nowrap;
	display:block;
	
}

.fileExamples pre
{
	background-color: white;
	color:black;
}

.fileExamples::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #212d30;
}

.fileExamples::-webkit-scrollbar
{
	height: 8px;
	background-color: #212d30;
	border-radius:5px
}

.fileExamples::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #80b0b0;
}

#exampleToggle 
{
	border-color: #2E75B6;
}

#SourceCode, #Author, #APILink
{
	text-align:center;
	color:#2E75B6;
	padding: 2px 6px 2px 6px;
	/*border-radius: 25px;
    border: 2px solid #2E75B6;*/
	text-decoration:none;

}



#Author:hover, #SourceCode:hover , #APILink:hover
{
	background-color:#2E75B6;
	color:white;
}



table.HeadAPI {
	width: 100%
}

td.Head {
	padding: 0px;
}

td.API {
	padding: 0px;
	text-align: right;
}
