name: build and deploy docs

on:
  push:
    branches: [ dev ]

jobs:
  build-and-deploy-docs:
    
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
    - name: Restore tools
      run: dotnet tool restore
    - name: Build docs
      working-directory: ./docs
      run: dotnet fsdocs build --eval
    - name: deploy
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: ./output/ # The folder the action should deploy.
          CLEAN: true # Automatically remove deleted files from the deploy branch
